@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: "Inter", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    color: white;
}
